.Login {
  display: flex;
}
.rightcomponent {
  padding: 0 auto;
}

.input {
  height: 30px;
  width: 270px;
}
.Signup {
  display: flex;
}
.hero {
  background-image: url(./assets/Hero.png);
  max-width: 1350px;
  min-height: 745px;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero::before {
  background-image: url(./assets/subHero.png);
  min-width: 149px;
  min-height: 167px;
  top: 203px;
  left: 1145px;
}
.landing_Other {
  display: flex;
align-items: center;

}
.landing_Other_reverse{
  display: flex;
flex-direction: row-reverse;
align-items: center;
}
.TilesMainDiv {
  display: flex;
}
.Tiles {
  min-width: 258px;
  min-height: 300px;
}
.TilesArrayNumber {
  min-width: 303px;
  min-height: 181px;
}
.TilesArrayNumberMainDiv {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.NewLetter {
  background-image: url(./assets/NewsLetter.png);
  min-width: 1087px;
  min-height: 344px;
  background-repeat: no-repeat;
}

/* Home page */
.HomeHero {
  background-image: url(./assets/HeroHome.png);
  min-width: 1440px;
  min-height: 623px;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}

.dicount {
  background-image: url(./assets/discount.png);
  min-width: 1440px;
  min-height: 490px;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}

.swiperslider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin: 0px 0px;
}

.SmartChoiceIteam {
  position: relative;
}
.Featured {
  display: flex;
  justify-content: center;
}
.relpostion{
  position: absolute;
  top:190px;
  left:100px;
  color: #ffff;
}
.Hygenic {
  display: flex;
  justify-content: center;
}
.sponser {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* footer */
.footer_ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  
}
.child1_ul{
  list-style-type: none;
  text-align: left;
  }
  .icons{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  
  }
  /* product */
.ProductHero{
  background-image: url(./assets/Product.png);
  min-width: 1440px;
  min-height: 623px;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
/* pagination */
.ReactPaginate{
  display: flex;
  width: 100%;
  list-style-type: none;
  cursor: pointer;
}
.ReactPaginate li{
margin-right: 10px;  
}
.NutrationsIngredient{
display: flex;
margin-top: 90px;
}
.NutrationsFact{
  width: 50%;
}
.Ingredients{
  width: 50%;
}
.shopitem{
  display: flex;
}
.ItemDetailsAddToCart{
display: flex;
}
.ItemDetails{
  width: 50%;
}
.AddToCart{
  width: 50%;
}
.RcProgressReviews{
  display: flex;
  margin-top: 90px;
}
.productArray{
    display: flex;
}
.ShoppingCart{
  display: flex;
  margin-top: 10px;
  height: 80px;
  width: 500px;
  justify-content: space-between;
}

.main{
  display: flex;
}
 .leftside{
  width: 50%;
}
.rightSide{
width: 500px;
}
.ProfileSideBar{
  display: flex;
  flex-direction: column;
}
.ProfileSideBarAndProfilePhotoAndDetail{
  display: flex;
}
.ProfileSideBar{
  width: 30%;
}
.ProfilePhotoAndDetail{
  width: 70%;
}
.ProfileNav{
  display: flex;
}


.select-dropdown {
  .rc-select-single {
      .rc-select-selector {
          border-color: #e8edff;
          height: 42px;
          border-radius: 4px;
      }

      .rc-select-selection-item {
          color: #194bfb;
          font-size: 14px;
          font-weight: 500;
      }

      .rc-select-arrow,
      .rc-select-selection-item,
      .rc-select-selection-placeholder {
          top: 50%;
          transform: translate(0, -50%);
          right: 10px;
      }

      .rc-select-selection-item,
      .rc-select-selection-placeholder {
          left: 10px;
      }

      &.rc-select-focused {
          .rc-select-selector {
              border-color: #e8edff !important;
          }
      }
  }
}

.rc-select-dropdown {
  border-color: #e8edff;
  border-radius: 6px;
  overflow: hidden;
  min-height: inherit;
  min-width: inherit;

  .rc-select-item {
      font-size: 14px;
      font-weight: 500;
      padding: 4px 25px;
      font-family: 'inter', sans-serif;

      &.rc-select-item-option-active {
          background: #e8edff;
          color: #000;
      }
  }

  .rc-select-item-option-state-icon {
      display: none;
  }
}

.option-lists {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}